@model IEnumerable<OrderProject.Models.PurchaseOrder>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-center text-uppercase">List of Orders</h3>
<p>
    @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-primary" })  
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Customer.Fullname)</th>
            <th>@Html.DisplayNameFor(m => m.DeliveryDate)</th>
            <th>@Html.DisplayNameFor(m => m.Status)</th>
            <th>@Html.DisplayNameFor(m => m.AmountDue)</th>
            <th>Action(s)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ol in Model)
        {
            <tr>
                <td>@ol.Customer.Fullname</td>
                <td>@ol.DeliveryDate</td>
                <td>@ol.Status</td>
                <td>@ol.AmountDue</td>

                <td>
                    <input type="button" value="Edit" data-id="@ol.Id" data class="btn btn-primary edit" id="edit" />
                </td>
            </tr>
        }
    </tbody>
</table>



@section Scripts {
<script type="text/javascript">

        
</script>
}


